@tailwind base;
@tailwind components;
@tailwind utilities;

.css-iasuwm-MuiTableCell-root{
    padding: 0.6em !important;
}
.css-1pc4thu-MuiTableCell-root {
    padding: .8em !important;
}
.css-13h9hro-MuiFormLabel-root-MuiInputLabel-root, .css-1fy0p1g-MuiInputBase-root-MuiInput-root {
    font-size: 12px !important;
}